<h1>Books</h1>

<% @books.each do |book| %>

  <div>Title</div>
    <%= book.title %>

  <div>Body</div>

  <span>
    <%= link_to "Show", book_path(book.id) %>
  </span>

  <span>
    <%= link_to "Edit", edit_book_path(book.id) %>
  </span>

  <span>
    <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </span>

<% end %>